 <a href="{% url 'visualization:index' %}" class="list-group-item {% ifequal submenu 'index' %}active{% endifequal %}">概览</a>
 <a href="{% url 'visualization:books' %}" class="list-group-item {% ifequal submenu 'books' %}active{% endifequal %}">资料</a>
 <a href="{% url 'visualization:linechart' %}" class="list-group-item {% ifequal submenu 'linechart' %}active{% endifequal %}">线性图</a>
 <a href="{% url 'visualization:histogram' %}" class="list-group-item {% ifequal submenu 'histogram' %}active{% endifequal %}">直方图</a>
 <a href="{% url 'visualization:barchart' %}" class="list-group-item {% ifequal submenu 'barchart' %}active{% endifequal %}">条形图</a>