{% extends "home/base.html" %}
{% block leftContent %}
<div class="col-md-9 col-sm-9">
    <div class="jumbotron">
        <h3>Python</h3>
        <p>本网站完全基于Python语言，采用Djando框架+Bootstrap框架开发。主要用于自己学习Python相关技术。</p>
        <p>学习Python的参考资料：</p>
        <p>Python官网：<a href="https://www.python.org/">https://www.python.org/</a></p>
        <p>官方标准库：<a href="https://docs.python.org/2.7/library/index.html">https://docs.python.org/2.7/library/index.html</a></p>
        <p>Djando官网：<a href="https://www.djangoproject.com/">https://www.djangoproject.com/</a></p>
        <p>Pypi官网：<a href="https://pypi.python.org/pypi">https://pypi.python.org/pypi</a></p>
        <p>NumPy官网：<a href="http://www.numpy.org/">http://www.numpy.org/</a></p>
        <p>Pandas官网：<a href="http://pandas.pydata.org/">http://pandas.pydata.org/</a></p>
        <p>Matplotlib官网：<a href="http://matplotlib.org/">http://matplotlib.org/</a></p>
    </div>
    <div class="jumbotron">
        <p>Scikit-Learn官网：<a href="http://scikit-learn.org/stable/">http://scikit-learn.org/stable/</a></p>
    </div>
    
</div> 

{% endblock %}
{% block rightContent %}
<div class="col-md-3 col-sm-3 feature-text">
    <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
</div> 
{% endblock %}

