<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-link" href="#top">PythonStudy</a>
    </div> <!-- /.navbar-header -->
        
    <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% ifequal menu 'home' %}active{% endifequal %}">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <!--
            <li class="{% ifequal menu 'pattern' %}active{% endifequal %}">
                <a href="{% url 'designpattern:index' %}">设计模式</a>
            </li>
            -->
            <li class="{% ifequal menu 'webcrawler' %}active{% endifequal %}">
                <a href="{% url 'webcrawler:index' %}">Web爬虫</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">机器学习<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="{% ifequal menu 'classification' %}active{% endifequal %}"><a href="{% url 'ml:classindex' %}">Classification</a></li>
                  <li class="{% ifequal menu 'regression' %}active{% endifequal %}"><a href="{% url 'ml:regreindex' %}">Regression</a></li>
                  <li class="{% ifequal menu 'clustering' %}active{% endifequal %}"><a href="{% url 'ml:clusterindex' %}">Clustering</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">数据分析<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="{% ifequal menu 'study' %}active{% endifequal %}"><a href="{% url 'dataanalysis:index' %}">练习</a></li>
                  <!--<li><a target="_blank" href="One-Page/index.html">视频挖掘</a></li>-->                          
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">数据可视化<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{% ifequal menu 'basechart' %}active{% endifequal %}"><a href="{% url 'visualization:index' %}">基本图形</a></li>
                    <li class="{% ifequal menu 'd3' %}active{% endifequal %}"><a href="{% url 'visualization:d3index' %}">D3</a></li>
                </ul>
            </li>
           
            <li class="{% ifequal menu 'about' %}active{% endifequal %}"><a href="{% url 'about' %}">关于我</a></li>
          </ul>
    </div> <!-- /.navbar-collapse -->
</div>
</nav>