{% extends "home/base.html" %}
{% block leftContent %}
<div class="col-md-3 col-sm-3 feature-text">
    <div class="panel panel-default">
        <div class="panel-heading">菜单栏</div>
        <div class="list-group">
            {% block designleft %}
                {% include "visualization/basechart/visualleft.html" %}
            {% endblock %}
        </div>
    </div>
</div> 
{% endblock %}

{% block rightContent %}
<div class="col-md-9 col-sm-9">
    <div class="jumbotron">
        <h3>Python数据可视化</h3>
        <p>如今，都在谈论"大数据"，且不论大数据的真正意义，单就"大"字就已经让我们无所适从了。数据量的不断膨胀，让我们对数据更加束手无策。
        数据变得越来越复杂，种类越来越多，我们不知道该如何利用它们？不知道它们之间有什么样的关系？
        </p>
        <p>
        数据可视化就是用来对这些大数据分析之后的最终结果进行展示。它能告诉你这些数据是什么含义，它们之间有什么样的关系，以及它们隐藏的价值，数据趋势。
        </p>
        <p><strong>我们进行可视化的目的是什么?</strong></p>
        <p>以一种更人性化、易读的方式展示数据之间的联系，发现隐藏的价值和趋势。</p>
        
        <p><strong>数据分析的过程</strong></p>
        <p>获取、分析、过滤、挖掘、表述、修饰和交互。</p>
        
    </div>
    <div class="jumbotron">
        <p>D3使用的是SVG技术，而其他类似的库如jqplot、highchart则使用的是HTML5的canvas。
        SVG技术是基于XML的矢量图形格式，SVG内容可以是静态的、动态的、交互的和动画的，很灵活。SVG元素可以使用CSS来进行样式调整和通过SVG DOM 提供的API来动态改变元素行为。
        如果选择SVG技术，不仅仅可以得到矢量图形和动画，还可以通过脚本、高级动画、事件、过滤器等开发高度交互的web应用。
        </p>
        <p>
        HTML5 Canvas规范也是一个javascript API，可以通过编码来进行绘图操作。
        Canvas可以定义一个上下文对象，在HTML的&ltcanvas&gt元素里显示，然后使用WebGL在元素内绘制二维或三维图形。
        </p>
        
        <p>
            与SVG相比，HTML5 Canvas的优势是更高的绘图性能和更快的图形图像编辑。如果需要在像素级操作的话，使用Canvas是更好的。但是，在Canvas中不能操作DOM节点是很不利的，
            特别是没有使用javascript框架。另外一个不足是很差的文本渲染能力。
            SVG的优势是独立的解决方案，能够很好的支持动画和动画元素，使用声明性语法。更重要的是通过SVG DOM API可以控制每个元素。但是当复杂性增加时，会变得慢。
        </p>
    </div>
</div> 
{% endblock %}