 <a href="{% url 'designpattern:index' %}" class="list-group-item {% ifequal submenu 'index' %}active{% endifequal %}">概览</a>
 <a href="{% url 'designpattern:abstractfactory' %}" class="list-group-item {% ifequal submenu 'abstractfactory' %}active{% endifequal %}">Abstract Factory</a>
 <a href="{% url 'designpattern:abstractfactory' %}" class="list-group-item {% ifequal submenu 'overall2' %}active{% endifequal %}">Morbi leo risus</a>
 <a href="{% url 'designpattern:abstractfactory' %}" class="list-group-item {% ifequal submenu 'overall3' %}active{% endifequal %}">Porta ac consectetur ac</a>
 <a href="{% url 'designpattern:abstractfactory' %}" class="list-group-item {% ifequal submenu 'overall4' %}active{% endifequal %}">Vestibulum at eros</a>